*{ 
    padding:10; 
    margin:10; 
} 
body{ 
    background-color:lightblue; 
} 
td{ 
    width:20px; 
    height:20px; 
} 
.blank{ 
    background-color:blank; 
} 
.snake{ 
    background-color:blue; 
} 
.wall{ 
    background-color:indigo; 
} 
.fruit{ 
    /*background-image: url("mouse.jpg");*/
    background-color:red;
} 